[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pipfile = "*"
flask = "*"
tqdm = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
coverage = "*"
pyment = "*"
pdoc3 = "*"

[requires]
python_version = "3.8"
